<div class="container">
<% @lists.each do |list| %>
<div class="container">
<h3><%= link_to list.name, list_path(list) %></h3>
<% if list.photo.key %>

<% end %>
</div>
<% end %>

<%= link_to 'Create new list', new_list_path %>
</div>
